/* Shared Styles */

.cta-button {
  display: block;
  border: 1px solid var(--white);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
  color: var(--white);
  padding: 2.4rem;
  width: min(100%, 24.5rem);
  text-transform: uppercase;
}

/* Hero */

.hero .main-heading {
  margin: 3.2rem auto 0;
}

.hero .paragraph {
  color: var(--white);
  margin: 2.4rem auto 0;
  width: min(87.2%, 32.7rem);
}

.hero .cta-button {
  margin: 3.2rem auto 0;
}

/* About */

.about .img-wrapper {
  width: min(87.2%, 32.7rem);
  box-shadow: 0 75px 100px -50px var(--shadow);
}

.about .img-wrapper {
  margin: 8rem auto 0;
}

.about .subheading {
  width: min(87.2%, 32.7rem);
  margin: 8.7rem auto 0;
  position: relative;
}

.about .subheading::before {
  content: "";
  width: 7.1rem;
  height: 0.7rem;
  position: absolute;
  top: -3.5rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-image: url("../images/patterns/pattern-divide.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about .paragraph {
  width: min(87.2%, 32.7rem);
  margin: 1.6rem auto 0;
}

/* Menu */

.menu {
  background-color: var(--cod-gray);
  color: var(--white);
  padding: 11.1rem 0 7.2rem;
  margin-top: 8rem;
}

.menu .subheading {
  width: min(87.2%, 32.7rem);
  margin-inline: auto;
  position: relative;
}

.menu .subheading::before {
  content: "";
  width: 7.1rem;
  height: 0.7rem;
  position: absolute;
  top: -3.2rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-image: url("../images/patterns/pattern-divide.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu .paragraph {
  width: min(87.2%, 32.7rem);
  margin: 1.6rem auto 0;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: min(87.2%, 32.7rem);
  margin: 6.4rem auto 0;
}

.menu-item-wrapper {
  border-bottom: 1px solid var(--white-transparent1);
  padding-bottom: 2.4rem;
}

.menu-item-wrapper:last-of-type {
  border: none;
  padding-bottom: 0;
}

.menu-item-name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.225px;
  margin: 3.2rem auto 0.4rem;
}

.menu-item-description {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: -0.1875px;
  padding: 0 2rem;
}

/* Events */

.events {
  margin: 8rem auto 0;
}

.image-container {
  display: flex;
  width: min(87.2%, 32.7rem);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 75px 100px -50px var(--shadow);
}

.event-options {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.event-option {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
  color: var(--dark-gray);
  opacity: 0.5;
  text-transform: uppercase;
  width: 100%;
}

.event-option.active {
  opacity: 1;
  position: relative;
}

.event-option.active::after {
  content: "";
  height: 0.1rem;
  width: 4.8rem;
  background-color: var(--beaver);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.event-description {
  display: none;
}

.event-description.active {
  display: block;
}

.events .subheading {
  margin-top: 2.4rem;
}

.events .paragraph {
  width: min(87.2%, 32.7rem);
  margin: 1.6rem auto 0;
}

.events .cta-button {
  border: 1px solid transparent;
  background-color: var(--cod-gray);
  margin: 3.2rem auto;
}

/* Call to Action */

.cta {
  padding: 8rem 0;
  background-image: url("../images/homepage/ready-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 12.4rem;
}

.cta .subheading {
  color: var(--white);
}

.cta .cta-button {
  margin: 2.4rem auto 0;
}

/* Media Queries */
@media screen and (min-width: 376px) {
  /* Hero */

  .hero .paragraph {
    width: min(74.6%, 57.3rem);
  }

  .hero .cta-button {
    margin: 2.4rem auto 0;
  }

  /* About */

  .about {
    position: relative;
  }

  .about::before {
    content: "";
    width: 378px;
    height: 320px;
    background-image: url("../images/patterns/pattern-curve-top-right.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: absolute;
    top: 196px;
    left: 0;
  }

  .about::after {
    content: "";
    width: 384px;
    height: 320px;
    background-image: url("../images/patterns/pattern-curve-top-left.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: absolute;
    bottom: -120px;
    right: 0;
  }

  .about .img-wrapper {
    width: min(74.6%, 57.3rem);
  }

  .about .img-wrapper {
    margin: 12rem auto 0;
  }

  .about .img-wrapper:last-of-type {
    position: relative;
  }

  .about .img-wrapper:last-of-type::before {
    content: "";
    width: 16rem;
    height: 7.6rem;
    position: absolute;
    top: 22.8rem;
    right: -5.8rem;
    background-image: url("../images/patterns/pattern-lines.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .about .subheading {
    width: min(59.5%, 45.7rem);
    margin: 9.5rem auto 0;
  }

  .about .subheading::before {
    top: -3.2rem;
  }

  .about .paragraph {
    width: min(59.5%, 45.7rem);
  }

  /* Menu */

  .menu {
    padding: 13.5rem 0 9.6rem;
    margin-top: 12rem;
  }

  .menu .subheading {
    width: min(57.9%, 44.5rem);
  }

  .menu .paragraph {
    width: min(57.9%, 44.5rem);
    margin: 1.6rem auto 5.6rem;
  }

  .menu .img-wrapper {
    width: 12.8rem;
    margin-inline: auto;
    position: relative;
  }

  .menu .img-wrapper::before {
    content: "";
    width: 3.2rem;
    height: 0.1rem;
    background: var(--beaver);
    position: absolute;
    right: -3.2rem;
    top: 1.8rem;
  }

  .menu-items {
    width: min(74.60938%, 57.3rem);
    margin: 5.6rem auto 0;
  }

  .menu-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.2rem;
    text-align: left;
  }

  .menu-item-name {
    margin: 0 0 0.4rem;
  }

  .menu-item-description {
    padding: 0;
  }

  /* Events */

  .events {
    margin: 12rem auto 0;
    position: relative;
  }

  .events::before {
    content: "";
    width: 895px;
    height: 320px;
    background-image: url("../images/patterns/pattern-curve-top-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -120px;
    left: -517px;
  }

  .image-container {
    width: min(74.60938%, 57.3rem);
    position: relative;
  }

  .image-container::before {
    content: "";
    width: 16rem;
    height: 7.6rem;
    position: absolute;
    top: -3.8rem;
    left: -5.8rem;
    background-image: url("../images/patterns/pattern-lines.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .event-options {
    margin: 5.6rem auto 0;
    width: min(89.71354%, 68.9rem);
    flex-direction: row;
    justify-content: space-around;
    gap: 1.6rem;
  }

  .event-option.active {
    opacity: 1;
    position: relative;
  }

  .event-option.active::after {
    bottom: -0.8rem;
  }

  .events .subheading {
    margin-top: 4rem;
  }

  .events .paragraph {
    width: min(100%, 45.7rem);
  }

  /* Call to Action */

  .cta {
    padding: 6.5rem 0 6.4rem;
    background-image: url("../images/homepage/ready-bg-tablet.jpg");
    margin-top: 12rem;
  }

  .cta .cta-button {
    margin: 2.3rem auto 0;
  }
}
