.footer {
  background-color: var(--cod-gray);
  padding: 8rem 0;
}

.footer-logo {
  height: 4rem;
  margin: 0 auto 4rem;
}

.footer .subheading {
  margin-top: 3.2rem;
}

.footer .subheading,
.footer-detail {
  display: block;
  color: var(--white);
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Media Queries */
@media screen and (min-width: 376px) {
  .footer {
    padding: 6.4rem 4rem 6.4rem 3.9rem;
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;
    gap: 12.958rem;
  }

  .footer-logo {
    margin: 0;
  }

  .footer .container {
    margin: 0;
  }
}

@media screen and (min-width: 769px) {
  .footer {
    padding: 7.8rem 16.5rem;
    gap: 19.258rem;
  }

  .footer .text-wrapper {
    display: flex;
    gap: 12.4rem;
  }

  .footer .subheading {
    margin-top: 0;
  }

  .footer .container {
    width: auto;
  }
}
