.footer {
  background-color: var(--cod-gray);
  padding: 8rem 0;
}

.footer .logo {
  height: 4rem;
  margin: 0 auto 4rem;
}

.footer .subheading {
  margin-top: 3.2rem;
}

.footer-detail {
  display: block;
  color: var(--white);
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
