.home {
  background-image: url("./images/homepage/hero-bg-mobile.jpg");
  background-size: 100% 748px;
}

.booking {
  background-image: url("./images/booking/hero-bg-mobile.jpg");
  background-size: 100% 600px;
}

.header-logo {
  height: 3.2rem;
}

.home .header-logo {
  margin: 23.2rem auto 0;
}

.booking .header-logo {
  margin: 5.6rem auto 0;
}
