.home {
  background-image: url("./images/homepage/hero-bg-mobile.jpg");
  background-size: 100% 748px;
}

.booking {
  background-image: url("./images/booking/hero-bg-mobile.jpg");
  background-size: 100% 600px;
}

.header-logo {
  height: 3.2rem;
}

.home .header-logo {
  margin: 23.2rem auto 0;
}

.booking .header-logo {
  margin: 5.6rem auto 0;
}

/* Media Queries */
@media screen and (min-width: 376px) {
  .home {
    background-image: url("./images/homepage/hero-bg-tablet.jpg");
    background-size: 100% 992px;
  }

  .booking {
    background-image: url("./images/booking/hero-bg-tablet.jpg");
  }

  .header-logo {
    height: 4rem;
  }

  .home .header-logo {
    margin: 37.4rem auto 0;
  }

  .booking .header-logo {
    margin: 5.6rem auto 0 3.9rem;
  }
}

@media screen and (min-width: 769px) {
  .home {
    background-image: url("./images/homepage/hero-bg-desktop.jpg");
    background-size: 100% 820px;
  }

  .booking {
    background-image: url("./images/booking/hero-bg-desktop.jpg");
  }

  .home .header-logo {
    margin: 6.5rem 0 0 16.7rem;
  }
}
